name: Deploy Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Authenticate with Google Cloud
      env:
        GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
      run: |
        echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file=-
        gcloud config set project gpafinder
        gcloud auth configure-docker

    - name: Build Docker image
      run: |
        docker build -t gcr.io/gpafinder/my-fastapi-app .

    - name: Push Docker image
      run: |
        docker push gcr.io/gpafinder/my-fastapi-app
