name: Deploy Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Decode and set up Google Cloud credentials
      env:
        GOOGLE_CREDENTIALS_P12: ${{ secrets.GOOGLE_CREDENTIALS_P12 }}
      run: |
        echo "$GOOGLE_CREDENTIALS_P12" | base64 --decode > $HOME/gcloud-key.p12
        gcloud auth activate-service-account --key-file=$HOME/gcloud-key.p12 --password-file=<(echo "notasecret")
        gcloud config set project gpafinder
        gcloud auth configure-docker

    - name: Build Docker image
      run: |
        docker build -t gcr.io/gpafinder/my-fastapi-app .

    - name: Push Docker image
      run: |
        docker push gcr.io/gpafinder/my-fastapi-app
